.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    background-color: #404040;
    padding: 0 10px 0 10px;
    border-radius: 4%;

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}